/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */


/*affects all pages*/
body {
  color: #F1F0E1;
  background-image: linear-gradient(#2F2F2F, #415083 77%, #415083);
  grid-template-rows: auto 1fr;
  font-family: "Hind", sans-serif;
  font-weight: 100;
  font-size: 16px;
}

header {
  position: fixed;
  display: grid;
  grid-template-columns: auto 2fr 1fr auto auto;
  background-color: #191919;
  align-items: center;
  padding-top: 15px;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 5px 10px #191919;
}

main {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 200px;
  padding-bottom: 50px;
  font-style: normal;
}

h1 {
  font-family: "Bayon", sans-serif;
  font-size: 350%;
  font-weight: 200;
  letter-spacing: 20px;
  margin: 0%;
  line-height: 110%;
}

h2 {
  font-family: "Bebas neue";
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 5px;
  margin-top: 0px;
}

p {
  margin: 0px;
}

a {
  color: #F1F0E1;
  text-decoration: none;
  font-weight: 600;
}

mark {
  color: #F07155;
  background: none;
  line-height: 40px;
}

button {
  background-color: #191919;
  border: none;
  color: #F1F0E1;
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #191919;
}

button:hover {
  background-color: #31333B;
  transition-duration: 0.3s;
}

input {
  color: #F1F0E1;
  background-color: #31333B;
  border: none;
  width: 100%;
  padding: 10px;
  height: 40px;
  border-radius: 8px;
}

select {
  color: #5F5F5E;
  background-color: #31333B;
  border: none;
  width: 150px;
  height: 40px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #191919;
}

table {
  width: 100%;
}

/* header and footer*/
.headerList {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-left: 5%;
  padding-right: 5%;
}

.headerListItem {
  display: inline;
  color: #5F5F5E;
}

.headerListLink:visited {
  color: #5F5F5E;
}

.headerListLink:hover {
  color: #F1F0E1;
  transition-duration: 0.4s;
}

.navSearchbar {
  background-image: url(/assets/images/search-icon.png);
  background-repeat: no-repeat;
  padding-left: 45px;
}

footer {
  background-color: #415083;
  padding-top: 50px;
  padding-bottom:50px;
  bottom: 0;
}

.footerList {
  text-align: center;
}

.footerListItem {
  display: inline;
  padding-left: 3%;
  padding-right: 3%;
}

.footerLink:visited {
  color: #F1F0E1;
}

.mobileHeader {
  position: fixed;
  background-color: #191919;
  padding-left: 5%;
  padding-right: 5%;
  display: none;
  width: 100%;
  z-index: 3;
  box-shadow: 5px 5px 10px #191919;
}

/*home page*/
.indexStar1 {
  width: 100px;
  height: 100px;
  left: -60px;
  top: -50px;
  z-index: 2;
  position: absolute;
  background-image: url(/assets/images/index-star1.png);
  background-repeat: no-repeat;
}

.indexStar2 {
  width: 100px;
  height: 100px;
  right: -80px;
  top: 200px;
  z-index: 2;
  position: absolute;
  background-image: url(/assets/images/index-star2.png);
  background-repeat: no-repeat;
}

.indexStar3 {
  width: 50px;
  height: 50px;
  right: 100px;
  top: 270px;
  z-index: 2;
  position: absolute;
  background-image: url(/assets/images/index-star3.png);
  background-repeat: no-repeat;
}

.intro {
  position: relative;
  background-image: url(/assets/images/connecting-film-lovers.png);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro p{
  font-size: 18px;
  font-weight: 400;
  width: 45%;
  padding-top: 14%;
}

.intro button {
  margin-bottom: 50px;
}

.top {
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.top .filmPosters {
  width: 65%;
  margin: auto;
}

.filmPosters {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  overflow: auto;
}

.poster {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.filmTitle {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Bebas Neue";
  font-size: 130%;
  font-weight: 200;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(19, 19, 19, 0.7);
  opacity: 0;
}

.filmTitle:hover {
  opacity: 1;
  transition-duration: 0.4s;
}

.posterImage {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #191919;
}

.news {
  padding-left: 10%;
}

.newsLink {
  background-color: #31333B;
  width: 50%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  background-image: url(/assets/images/arrow-right.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 97%;
  background-position-y: 90%;
}

.newsLink:hover {
  background-color: #191919;
  transition-duration: 0.4s;
}

/*browse page*/
.browseStar1 {
  width: 100px;
  height: 100px;
  top: -30px;
  left: 87%;
  position: absolute;
  background-image: url(/assets/images/browse-star1.png);
  background-repeat: no-repeat;
}

.browseStar2 {
  width: 100px;
  height: 100px;
  top: 94%;
  left: -40px;
  position: absolute;
  background-image: url(/assets/images/browse-star2.png);
  background-repeat: no-repeat;
}

.browse {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.filtersHeading {
  position: absolute;
  right: 83%;
  padding-right: 83px;
}

.filters {
  position: absolute;
  width: 150px;
  right: 83%;
  margin-top: 40px;
}

.filters input {
  max-width: 150px;
  min-width: 120px;
  padding-left: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 5px 5px 10px #191919;
}

.categories {
  position: relative;
  background-color: #191919;
  padding: 30px;
  padding-bottom: 20px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #191919;

}

/*product page*/
.productPageStar1 {
  width: 60px;
  height: 60px;
  right: -40px;
  top: 50%;
  position: absolute;
  background-image: url(/assets/images/product-page-star1.png);
  background-repeat: no-repeat;
}

.productPageStar2 {
  width: 80px;
  height: 80px;
  left: 10%;
  top: 115%;
  position: absolute;
  background-image: url(/assets/images/product-page-star2.png);
  background-repeat: no-repeat;
  z-index: 2;
}

.productPagePoster {
  position: absolute;
  top: 150px;
  width: 22%;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #191919;
  z-index: 2;
}

.productPageButtons {
  position: absolute;
  right: 62%;
  display: block;
  width: 15%;
  margin-top: 24%;
}

.productPageButtons p {
  background-color: #31333B;
  font-weight: 600;
  width: 60px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #191919;
}

.productPageButtons button {
  width:  100%;
}

.productInfo {
  position: relative;
  background-color: #191919;
  padding: 30px;
  margin-top: 120px;
  margin-left: 35%;
  width: 65%;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #191919;
  z-index: 1;
}

.productInfo th {
  font-size: 13px;
  font-weight: 400;
  padding-right: 10px;
  vertical-align: top;
}

.productInfo td {
  font-size: 13px;
}

.userReviews {
  width: 65%;
  margin-top: 170px;
  margin-left: 35%;
}

.userReview {
  display: flex;
  background-color: #31333B;
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #191919;
}

.userInfo {
  margin-right: 10px;
}

.userInfo img {
  padding-right: 15px;
  padding-left: 15px;
}

.userInfo p {
  text-align: center;
}

/*checkout page*/
.checkoutLayout {
  display: inline;
  grid-template-columns: auto auto;
}

.cart .star1 {
  background-image: url(/assets/images/checkout-star1.png);
  width: 77px;
  height: 80px;
  position: absolute;
  left: -30px;
  top: -25px;
  z-index: 2;
}

.checkout .star2 {
  background-image: url(/assets/images/checkout-star2.png);
  width: 100px;
  height: 102px;
  position: absolute;
  right: -50px;
  top: -35px;
  z-index: 2;
}

.cart {
  align-content: center;
  background-color: #191919;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 5px 5px 10px #191919;
  width: 45%;
  height: 300px;
}

.cart p {
  text-align: center;
}

.cart h2 {
  position: absolute;
  top: 30px;
}

.checkout {
  position: absolute;
  background-color: #191919;
  border-radius: 8px;
  padding: 30px;
  padding-bottom: 40px;
  box-shadow: 5px 5px 10px #191919;
  width: 45%;
  margin-left: 55%;
  top: 150px;
  opacity: 0.5;
}

.checkoutInput {
  width: 100%;
}

.checkoutButton {
  margin-top: 230px;
  margin-left: 55%;
  opacity: 0.5;
}

/*about page*/
.aboutStar1 {
  width: 70px;
  height: 70px;
  position: absolute;
  background-image: url(/assets/images/about-star1.png);
  background-repeat: no-repeat;
  top: -95px;
  left: 240px;
}

.aboutStar2 {
  width: 60px;
  height: 60px;
  position: absolute;
  background-image: url(/assets/images/about-star2.png);
  background-repeat: no-repeat;
  top: 75px;
  right: -180px;
}

.aboutStar3 {
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url(/assets/images/about-star3.png);
  background-repeat: no-repeat;
  top: 90%;
  left: -40px;
}

.decorativeTitle {
  position: absolute;
  background-image: url(/assets/images/connecting-film-lovers.png);
  background-repeat: no-repeat;
  background-size: 60%;
  width: 925px;
  height: 100%;
  left: 100px;
  top: -60px;
}

.aboutParagraph {
  position: relative;
  background-color: #191919;
  padding: 30px;
  margin-top: 5%;
  margin-left: 10%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #191919;
}

/*contact page*/
.contactStar1 {
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url(/assets/images/contact-star1.png);
  background-repeat: no-repeat;
  top: -30px;
  right: 0px;
}

.contactStar2 {
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url(/assets/images/contact-star2.png);
  background-repeat: no-repeat;
  top: 40px;
  right: -25px;
}

.contactButton {
  padding-left: 50%;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #191919;
  border-radius: 8px;
  padding: 30px;
  padding-bottom: 40px;
  box-shadow: 5px 5px 10px #191919;
}

.contact p {
  padding-right: 50px;
}

.messageInput {
  padding-bottom: 250px;
}

.pagePosition {
  position: relative;
}

@media only screen and (max-width: 1000px) {
  /*affects all pages*/
  main {
    background-image: linear-gradient(#2F2F2F, #415083 70%, #415083);
    padding-left: 10%;
    padding-right: 10%;
  }

  /*header and footer*/
  header {
    display: none;
  }

  hr {
    width: 100%;
    height: 5px;
    background-color: #31333B;
    border: none;
  }

  .mobileHeader {
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .mobileHeaderTop {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
  }

  .mobileHeaderDropDown {
    display: none;
    padding-bottom: 20px;
  }

  .mobileHeader input {
    width: 90%;
    margin-left: 5%;
  }

  .mobileHeader ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
  }

  .mobileHeader a {
    font-weight: 800;
    font-size: 18px;
  }

  .footerListItem {
    display: block;
  }

  footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /*home page*/
  .indexStar1 {
    left: 0px;
    top: -70px;
    z-index: 0;
  }
  
  .indexStar2 {
    right: -40px;
    z-index: 0;
  }
  
  .indexStar3 {
    right: 50%;
    top: 290px;
  }

  .intro p {
    text-align: center;
    padding-top: 100px;
    width: 100%;
  }
  
  .top {
    padding-bottom: 50px;
  }

  .filmTitle {
    opacity: 1;
  }

  .posterImage {
    width: 150px;
    height: 220px;
  }

  .top .filmPosters {
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .top .posterImage {
    width: 100%;
    height: 100%;
  }

  .news {
  padding-left: 0%;
  padding-bottom: 50px;
  }

  .newsLink {
    width: 100%;
  }

  /*browse page*/
  .filters {
    display: flex;
    width: 100%;
    overflow: auto;
    right: 0%;
    left: 10%;
    margin-top: 0px;
  }

  .filtersHeading {
    position: static;
  }

  .browse {
    display: block;
  }
  
  .categories {
    margin-top: 80px;
  }

  /*product page*/
  .productPagePoster {
    display: block;
    position: static;
    margin: auto;
    top: 0px;
    max-width: 400px;
    width: 100%;
  }
  
  .productPageButtons {
    position: static;
    right: 0%;
    width: 150px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  .productInfo {
    margin-top: 0px;
    margin-left: 0%;
    margin-bottom: 50px;
    width: 100%;
  }
  
  .userReviews {
    width: 100%;
    margin-left: 0px;
  }

  /*checkout page*/
  .checkoutLayout {
    display: block;
    grid-template-columns: 1fr;
  }

  .cart {
    width: 100%;
  }

  .checkout {
    position: static;
    margin-left: 0%;
    margin-top: 70px;
    width: 100%;
  }

  .checkout .star2{
    top: 330px;
  }

  .checkoutButton {
    margin-top: 20px;
    margin-left: 0%;
  }

  /*about page */
  .aboutStar1 {
    top: -85px;
    left: 60px;
  }
  
  .aboutStar2 {
    top: 35px;
    right: -40px;
  }
  
  .aboutStar3 {
    top: 90%;
    left: -40px;
  }
  
  .decorativeTitle {
    position: absolute;
    background-image: url(/assets/images/connecting-film-lovers2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 110%;
    height: 100%;
    left: -20px;
    top: -90px;
  }

  .aboutParagraph {
    margin-left: 0px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  /*contact page*/
  .contact {
    display: block;
  }

  .contactButton {
    padding-left: 0%;
  }
}
