/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: "Hind", sans-serif;
  font-weight: 100;
  font-size: 16px;
}

header {
  display: grid;
  grid-template-columns: auto 12fr 6fr auto auto;
  background-color: #191919;
  align-items: center;
  padding-top: 15px;
  padding-left: 15%;
  padding-right: 15%;
}

a {
  color: #F1F0E1;
  text-decoration: none;
  font-weight: 600;
}

.headerList {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
}

.headerListItem {
  display: inline;
  color: grey;
}

.headerListLink:visited {
  color: grey;
}

.headerListLink:hover {
  color: #F1F0E1;
  transition-duration: 0.4s;
}

input {
  color: #F1F0E1;
  background-color: #31333B;
  border: none;
  width: 100%;
  padding: 10px;
  height: 40px;
  border-radius: 8px;
}

.navSearchbar {
  background-image: url(/assets/images/search-icon.png);
  background-repeat: no-repeat;
  padding-left: 45px;
}

main {
  background-image: linear-gradient(#2F2F2F, #415083);
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 15%;
  padding-bottom: 8%;
  font-style: normal;
}

h1 {
  font-family: "Bayon", sans-serif;
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 30px;
  margin: 0%;
}

h2 {
  font-family: "Bebas neue";
  font-size: 28px;
  font-weight: 200;
  margin: 5px;
}

.top {
  text-align: center;
  align-items: center;
}

.filmPosters {
  display: flex;
}

.poster {
  position: relative;
  max-width: 150px;
  max-height: 220px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.filmTitle {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0%;
  font-family: "Bebas Neue";
  font-size: 23px;
  font-weight: 200;
  width: 100%;
  max-width: 150px;
  height: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(19, 19, 19, 0.7);
  opacity: 0;
}

.filmTitle:hover {
  opacity: 1;
  transition-duration: 0.4s;
}

.posterImage {
  width: 150px;
  height: 220px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #191919;
}

p {
  margin: 0px;
}

.news {
  padding-left: 20%;
}

.newsLink {
  background-color: #31333B;
  width: 50%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.newsLink:hover {
  background-color: #191919;
  transition-duration: 0.4s;
}

.newsArrow {
  display: inline-block;
  align-self: flex-end;
}

button {
  background-color: #191919;
  border: none;
  color: #F1F0E1;
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

button:hover {
  background-color: #31333B;
  transition-duration: 0.3s;
}

footer {
  background-color: #415083;
  padding-top: 3%;
  padding-bottom: 3%;
}

.footerList {
  text-align: center;
}

.footerListItem {
  display: inline;
  padding-left: 3%;
  padding-right: 3%;
}

.footerLink:visited {
  color: #F1F0E1;
}

.mobileHeader {
  background-color: #191919;
  padding-left: 5%;
  padding-right: 5%;
  display: none;
}

@media only screen and (max-width: 900px) {
  main {
    padding-left: 10%;
    padding-right: 10%;
  }

  header {
    display: none;
  }

  .mobileHeader {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .mobileHeaderTop {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
  }

  hr {
    width: 100%;
    height: 5px;
    background-color: #31333B;
    border: none;
  }

  .mobileHeader nav {
    padding-right: 5%;
  }

  .mobileHeader input {
    width: 90%;
  }

  .mobileHeader ul {
    text-align: center;
    padding-left: 0px;
  }

  .mobileHeader li {
    padding-right: 15%;
  }

  .mobileHeader a {
    font-weight: 800;
    font-size: 20px;
  }
}